@font-face {
  font-family: 'asap';
  src: url('../fonts/asap-regular.eot?v=1.0');
  src: url('../fonts/asap-regular.eot?#iefix&v=1.0') format('embedded-opentype'), url('../fonts/asap-regular.woff?v=1.0') format('woff'), url('../fonts/asap-regular.ttf?v=1.0') format('truetype'), url('../fonts/asap-regular.svg?v=1.0') format('svg');
  font-weight: normal;
  font-style: normal;
}