// Style
// =====
.primary-font() {
    font-family: @primary-font;
}

// Theme
// =====
body {
    color: @font-color;
    padding-top: @header-height;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    .primary-font();
    a {
        &:active,
        &:focus,
        &:hover {
            text-decoration: none;
        }
    }
}
h1,
h2,
h3 {
    a {
        color: @primary-dark;
        &:active,
        &:focus,
        &:hover {
            color: @primary-light;
        }
    }
}
h1 {
    color: @primary-dark;
}
h2 {
    color: @primary;
}
a {
    color: @link-color;
    &:active,
    &:focus,
    &:hover {
        color: @primary;
    }
}

.navbar-brand {
    color: @primary;
    font-family: @primary-font;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 25px;
    position: relative;
    span {
        color: @primary-light;
    }
}

.date {
    color: @fill;
    font-size: 11px;
}


// Content
// =======
.carousel {
    margin-bottom: 15px;
}
.content-item {
    .bar {
        font-size: 20px;
        padding: 10px;
        background: @primary-dark;
        &.title {
            margin-top: 10px;
        }
        a {
            color: @primary-inverse;
            display: block;
            margin: -10px;
            padding: 10px;
        }
    }
}
.content-item-box {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: dashed 1px @primary-light;
}
.focus {
    .title,
    .info {
        margin-bottom: 10px;
    }
    .title {
        padding-top: 10px;
        h1,
        h2,
        h3 {
            margin-top: 10px;
            a {
                color: @primary-dark;
            }
        }
    }
    .info {
        background-color: @fill-light;
    }
    .response,
    .meta,
    .body {
        padding: 5px 15px;
    }
    .response,
    .meta {
        a {
            font-size: 11px;
        }
    }
    .response {
        position: relative;
        a {
            color: @primary-light;
            margin-right: 15px;
        }
        &:after {
            content: '';
            display: block;
            position: absolute;
            top: -10px;
            left: 11px;
            border-left: 10px solid transparent;
            border-bottom: 10px solid @fill-light;
            border-right: 10px solid transparent;
        }
    }
    div,
    a {
        &.rating:before {
            content: '\f005';
        }
        &.comment-count:before {
            content: '\f075';
        }
        &.tag:before {
            content: '\f02c';
        }
        &:before {
            color: @primary-dark;
            font-family: 'FontAwesome';
            font-size: 14px;
            margin-right: 2px;
        }
        &:active,
        &:focus,
        &:hover {
            text-decoration: none;
        }
    }
    .meta {
        padding-left: 40px;
        .tag:before {
            margin-left: -25px;
            margin-right: 0;
            display: inline-block;
            width: 20px;
        }
    }
}
.additional {
    .content-item-box {
        padding-left: 10px;
        padding-right: 10px;
        h1,
        h2,
        h3 {
            &:before {
                color: @primary-light;
                content: '\f061';
                font-family: 'FontAwesome';
                font-size: 12px;
                width: 25px;
                display: inline-block;
                margin-left: -25px;
            }
        }
    }
    .title {
        h1,
        h2,
        h3 {
            color: @primary-light;
            margin-top: 10px;
            a {
                color: @primary-light;
            }
        }
        h1,
        h2 {
            font-size: 18px;
            
        }
        h3 {
            font-size: 16px;
        }
    }  
    .text-content {
        padding-left: 40px;
    }
    .feature-img {
        padding-top: 15px;
    }
    .info {
        font-size: 11px;
        a {
            color: @fill;
        }
        > span {
            display: inline-block;
            &:not(:first-child) {
                margin-left: 10px;
                padding-left: 10px;
                border-left: solid 1px @fill;
            }
        }
    }
}
.side-box-content {
    .bar {
        color: @primary;
        background: @fill-light;
        padding: 10px;
        margin-top: 10px;
        margin-left: -15px;
        padding-left: 15px;
        a {
            color: @primary;
        }
    }
    .side-box-body {
        .title {
            h1,
            h2,
            h3 {
                font-size: 15px;
            }
        }
    }
}

// Component Box
// =============
#content-body {
    padding-bottom: 40px;
}
#page-header {
    .container {
        padding-left: 0;
        padding-right: 0;
    }
}
#primary-content {
    box-shadow: 0 10px 15px fade(@fill, 20%);
}
#secondary-content {
    ul,
    ol,
    li {
        margin: 0;
        padding: 0;
    }
    li {
        list-style-type: none;
    }
}

// FontAwesome
// ===========
.fa + * {
    margin-left: 0.5em;
}