#header {
    margin-bottom: 25px;
    a {
        color: @primary-inverse;
    }
    .container {
        position: relative;
    }
    .icon-bar {
        background-color: @primary-inverse;
        width: 20px;
    }
    .navbar-toggle {
        float: left;
        color: @primary-inverse;
        height: @header-height;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 0;
        padding: 14px 15px;
        border: none;
        border-radius: 0;
        &:before {
            content: '\f0c9';
            font-family: 'FontAwesome';
            font-size: 20px;
            text-align: center;
            display: block;
            height: 25px;
            line-height: 18px;
        }
    }
    .navbar {
        background-color: @primary-dark;
        border: 0;
        margin-bottom: 0;
        min-height: @header-height;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        border-bottom: solid 1px @fill-dark;
    }
    .navbar-nav {
        float: right;
    }
    .navbar-brand {
        color: @primary-inverse;
        height: @header-height;
        padding-left: 45px;
        span {
            color: @primary-light;
        }
        &:before {
            content: '';
            display: block;
            background: url(../img/logo.png) 50% 50% no-repeat;
            width: 25px;
            height: 25px;
            position: absolute;
            left: 10px;
            top: 10px;
        }
    }
    .nav > li {
        transition: width @transition-duration;
        &:not(:first-child) {
            border-left: solid 1px darken(@primary-dark, 4%);
        }
        > a {
            padding-top: 10px;
            padding-bottom: 10px;
            line-height: 25px;
        }
        > a:active,
        > a:focus,
        > a:hover {
            background-color: lighten(@primary-dark, 8%);
        }
        &.search {
            width: 48px;
            transition: width @transition-duration;
            a {
                &:before {
                    content: '\f002';
                    font-family: 'FontAwesome';
                    font-size: 14px;
                    text-align: center;
                    display: block;
                    height: 25px;
                }
                span {
                    display: none;   
                }
            }
        }
    }
    .search-box {
        float: right;
        width: 0;
        height: @header-height;
        overflow: hidden;
        transition: width @transition-duration;
        form {
            padding: 8px 15px 5px 5px;
            width: @search-panel-width;
        }
        .form-group {
            margin: 0;
            position: relative;
        }
        #search {
            width: @search-panel-width - 20;
        }
        button {
            background: transparent;
            position: absolute;
            top: 4px;
            right: 4px;
            font-size: 0;
            padding: 0;
            &:before {
                content: '\f002';
                font-family: 'FontAwesome';
                font-size: 14px;
                display: block;
                height: 26px;
                width: 26px;
            }
        }
        &.active {
            width: @search-panel-width;
            & + .xs-search {
                width: 0;
                overflow: hidden;
                + .navbar-collapse {
                    .search {
                        border: 0;
                        width: 0;
                        overflow: hidden;
                    }
                }
            }
        }
    }
    .xs-search {
        width: 48px;
        position: absolute;
        top: 0;
        right: 0;
        transition: width @transition-duration;
    }
}