.home-page {
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 19px;
    }
    .focus {
        .content-item-box {
            .title {
                h1,
                h2,
                h3 {
                    margin-bottom: 2px;
                }
            }
        }
    }
    #index-rotate-banner {
        border-bottom: solid 1px @fill-dark; 
    }
}