// 'sm' and lower resolution
// =========================
@media (max-width: @screen-xs-max), (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    #header {
        margin-bottom: 0;
        .search-box {
            background-color: @primary-dark;
            height: 0;
            float: none;
            overflow: hidden;
            transition: height @transition-duration;
            &.active {
                height: @header-height;
            }
            #search {
                width: 100%;
            }
        }
    }
    .home-page {
        #index-rotate-banner {
            margin-left: -15px;
            margin-right: -15px;
        }
    }
}


// Only 'sm'
// =========
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    #header {
        .search-box {
            position: absolute;
            right: 0;
            top: @header-height;
            width: @search-panel-width;
            border-style: solid;
            border-color: @fill-dark;
            border-width: 0 1px 1px 1px;
            form {
                width: auto;
                padding: 4px 15px 0 15px;
            }
        }
    }
}