@media (max-width: @screen-xs-max) {
    body {
        padding-top: 0;
    }
    #header {
        .navbar-fixed-top {
            position: static;
        }
        .nav > li {
            &:not(:first-child){
                border-left: 0;
            }
            > a {
                padding-left: 60px;
            }
        }
        .navbar-collapse {
            clear: both;
            &:before {
                display: block;
                height: 1px;
                clear: both;
            }
        }
        .navbar-nav {
            float: none;
            margin-top: 0;
            margin-bottom: 0;
            .search {
                display: none;
            }
        }
        .xs-search {
            .nav {
                a {
                    padding-left: 15px;
                }
            }
        }
        .search-box {
            width: 100%;
            &.active {
                width: 100%;
            }
            form {
                width: auto;
                padding: 4px 15px 0 45px;
            }
        }
    }
    #footer {
        padding-bottom: 15px;
        .navbar-brand {
            padding-bottom: 0;
        }
        .copy-right {
            line-height: 1;
        }
    }
    .focus {
        .content-item-box {
            .info {
                position: relative;
                .feature-img {
                    margin-right: 40px;
                }
                .response {
                    background-color: @fill-light;
                    padding-top: 5px;
                    padding-left: 0;
                    position: absolute;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    width: 60x;
                    padding: 10px;
                    > a {
                        display: block;
                        margin-right: 0;
                        margin-bottom: 8px;
                        text-align: center;
                        &:before {
                            font-size: 12px;
                            display: block;
                        }
                    }
                    &:after {
                        content: '';
                        display: block;
                        position: absolute;
                        left: -10px;
                        top: 9px;
                        border: none;
                        border-top: 10px solid transparent;
                        border-right: 10px solid @fill-light;
                        border-bottom: 10px solid transparent;
                    }
                }
            }
            .body {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
    .additional {
        .text-content {
            padding-left: 30px;
        }
    }
    
    .additional {
        .bar {
            margin: 0 -15px;
            padding: 10px 15px;
        }
    }
}