// Screen
// ======
    @screen-xs-max: 767px;
    @screen-sm-min: 768px;
    @screen-sm-max: 991px;
    @screen-md-min: 992px;
    @screen-md-max: 1199px;
    @screen-lg-min: 1200px;

// Layout
// ======
    @header-height:       45px;
    @search-panel-width:  240px;
    @transition-duration: .6s;


// Color Scheme
// ============
    // Tone 1: Primary / Deep Puple
    // ============================
    @primary-dark:      #311b92; // Deep Puple 900
    @primary:           #673ab7; // Deep Puple 500
    @primary-light:     #9575cd; // Deep Puple 300
    @primary-inverse:   #ffffff; 
    // Tone 2: Secondary / Puple
    // =========================
    @secondary-dark:    #6a1b9a; // Puple 800
    @secondary:         #9c27b0; // Puple 500
    @secondary-light:   #ba68c8; // Puple 300
    @secondary-inverse: #ffffff;
    // Tone 3: Fill / Grey
    // ===================
    @fill-dark:         #424242; // Grey 800
    @fill:              #9e9e9e; // Grey 500
    @fill-light:        #e0e0e0; // Grey 300
    @fill-inverse:      #000000;


// Fonts
// =====
    @primary-font:      'asap';
    @font-color:        #212121; // Grey 900
    @link-color:        @secondary-light;